.git
.env
.env.*
!.env.example
**/node_modules
**/dist
**/coverage
**/.secrets
**/data
**/appdata
**/backups
!apps/dashboard/src/server/integrations/backups
!apps/dashboard/src/server/integrations/backups/**
!apps/dashboard/src/browser/features/backups
!apps/dashboard/src/browser/features/backups/**
.github
docs

**/.env
**/.env.*
!**/.env.example
**/.cache
**/*.log
